body {
    background-color: #998CEB;
    display: flex;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;

}

.item {
    margin-top: 3rem;
    background-color: #D9D7F1;
    padding: 4rem;
    border-radius: 10%;


}

.header {
    text-align: center;
    display: block;
    margin-top: 3.5rem;
    color: #D9D7F1;
    font-size: 3.5rem;
    font-family: 'Sacramento', cursive;
}

.inputt-h,
.inputt-w,
.btn {
    border: none;
    border-bottom: 4px solid #998CEB;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: white;
}

.btn {
    font-size: 1.5em;
    color: #655D8A
}

input[type=text]:focus {
    outline: none;
}

.btn:hover {
    background-color: #5e549d;
    color: white;
}

p {
    font-size: 1.4rem;
    color: #655D8A
}

.result,
.bmi {
    color: #655D8A;


}

.result {
    font-family: 'Sacramento', cursive;
    font-size: 2.5rem;
}


@media (max-width: 720px) {
    .item {
        margin-top: 5rem;
        padding: 2rem;

    }

    p {
        font-size: 1rem;

    }

    .inputt-h,
    .inputt-w,
    .btn {
        padding: 11px 7px;

    }

    .btn {
        font-size: 1rem;
    }

    .bmi {
        font-size: 1.5rem;
    }
}
